<div class=container>
 <%= link_to '<', controller: 'home', action: 'month', date: @t.prev_month  %>
 <%= @t.strftime("%Y/%m") %>
 <%= link_to '>', controller: 'home', action: 'month', date: @t.next_month  %>
 <div class="calender">
  <% f_week = @t.beginning_of_month.wday.to_i %>
  <% l_day = @t.end_of_month.day.to_i %>
  <% w = f_week %>
  <% for i in 1..l_day do %>
   <% @days.push(w) %>
   <% w += 1 %>
   <%if w > 6 %>
    <% w = 0 %>
   <% end %>
  <% end %>
  <% d = 1 %>

  <table>
   <tr align="center">
    <th>Sun</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>

   </tr>
   <% while d <= l_day do %>
   <tr>
    <% i = 0 %>
    <% while i < 7 %>
     <% if d == 1 && f_week != 0 %>
      <% for w in 0..(f_week-1) %>
       <td></td>
       <% i += 1 %>
      <% end %>
     <%end %>
     <td>
      <% if d <= l_day %>
       <% d_day = Date.new(@t.year,@t.month,d) %>
       <%= d %>
      <% end %>
      <% d += 1 %>
      <% i += 1 %>
     </td>
    <% end %>
   </tr>
   <% end %>
  </table>
 </div>
</div>